.small_card{
  border: 1px solid rgba(72, 194, 165, 0.475);
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(72, 194, 165, 0.475);
  transition: all 0.3s ease-out;
  padding: 20px;
  display: inline-block;
  text-align: center;
  margin: 10px;

}

.small_card:hover{
  box-shadow: 0px 0px 10px rgba(72, 194, 165, 0.475);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.button{
  background-color: rgba(72, 194, 165, 0.475);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  
}